<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>Endoli::Blog</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
    <link rel="stylesheet" href="./styles/theme.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./blog.html">Blog</a></li>
          <li><a href="./libraries.html">Libraries</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
    </div>
    <footer id="footer">
      <nav>
        <ul>
          <li><a href="./rss.xml">RSS</a></li>
        </ul>
      </nav>
    </footer>
  </body>

</html>

