<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>Endoli - Home</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/delft.css" />
  </head>

  <body>
    <div id="headerContainer">
      <header>
        <div class="logo"></div>
        <nav>
          <ul>
            <li><a href="./index.html" class="active">Home</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./libraries.html">Libraries</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="contentContainer">
      <div id="content"></div>
    </div>
    <div id="footerContainer">
      <footer>
        <nav>
          <ul>
            <li><a class="github" href="https://github.com/endoli" target="_blank"></a></li>
            <li><a class="twitter" href="https://twitter.com/endolisys" target="_blank"></a></li>
            <li><a class="irc" href="irc://chat.freenode.net/#endoli" target="_blank"></a></li>
            <li><a class="rss" href="./rss.xml"></a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>

</html>

