<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Endoli::Home</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/theme.css" />
  </head>
  <body>
    <div id="header">
      <a href="index.html">Home</a>
      <a href="blog.html">Blog</a>
      <a href="libraries.html">Libraries</a>
    </div>
    <div id="content">
    </div>
    <div id="footer">
      <a href="rss.xml">RSS</a>
    </div>
  </body>
</html>

