<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>Endoli - Libraries</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/delft.css" />
    <script>
      function onVersionChange(select) {
        if (select.value !== 'other') {
          location = select.value;
        }
      }
    </script>

  </head>

  <body>
    <div id="headerContainer">
      <header>
        <div class="logo"></div>
        <nav>
          <ul>
            <li><a href="./index.html">Blog</a></li>
            <li><a href="./libraries.html" class="active">Libraries</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="contentContainer">
      <div id="content">
        <h2 class="subtitle">Library List</h2>
      </div>
    </div>
    <div id="footerContainer">
      <footer>
        <nav>
          <ul>
            <li><a class="github" href="https://github.com/endoli" target="_blank"></a></li>
            <li><a class="twitter" href="https://twitter.com/endolisys" target="_blank"></a></li>
            <li><a class="irc" href="irc://chat.freenode.net/#endoli" target="_blank"></a></li>
            <li><a class="rss" href="./rss.xml" target="_blank"></a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>

</html>

