<!DOCTYPE html>
<html lang='en'>

  <head>
    <title>Endoli::Tag</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Teko:300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
    <link rel="stylesheet" href="../../styles/theme.css" />
  </head>

  <body>
    <div id="headerContainer">
      <header>
        <div class="logo"></div>
        <nav>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../blog.html">Blog</a></li>
            <li><a href="../../libraries.html">Libraries</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="contentContainer">
      <div id="content">
        <h2 class="subtitle">Blog Post Tag</h2>
      </div>
    </div>
    <div id="footerContainer">
      <footer>
        <nav>
          <ul>
            <li><a href="https://github.com/endoli">GitHub</a></li>
            <li><a href="https://twitter.com/endolisys">Twitter</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/network-spaces">Mailing List</a></li>
            <li><a href="irc://chat.freenode.net/#endoli">IRC</a></li>
            <li><a href="../../rss.xml">RSS</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>

</html>

