.colors {
  color: #486591; /* dark blue */
  color: #96c4de; /* blue */
  color: #d6e6f3; /* light blue */
  color: #ffffff; /* white */
  color: #df7021; /* orange */
  color: #030f21; /* dark */
}

body, html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #3d3d3d;
  font-size: 18px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.6em;
  /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
  /* font-family: 'Alegreya Sans SC', sans-serif; */
}

a {
  text-decoration: none;
}

/* header */

#headerContainer {
  /* background-color: #dadada; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #3d3d3d;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 640px;
  height: 86px;
  padding-bottom: 10px;
}

header > .logo {
  /* background-color: #96c4de; /1* blue *1/ */
  width: 192px;
  height: 64px;
  margin: 0 0 -10px 0;
  padding: 0;
}

header > nav {
  display: flex;
  flex-grow: 2;
  margin-left: auto;
  max-width: 400px;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header > nav > ul > li {
  font-size: 1.8em;
  font-weight: normal;
  font-style: normal;
  /* width: 64px; */
}

header > nav > ul > li > a {
  /* color: #ffffff; /1* white *1/ */
  display: block;
  width: 100%;
  text-align: center;
}

header > nav > ul > li > a:hover {
  /* color: #df7021; /1* orange *1/ */
}

/* content */

#contentContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#content {
  width: 640px;
  padding: 16px 0;
}

.subtitle {
  margin: 0;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #777777;
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
  border-bottom: 1px dotted #3d3d3d;
}

#post {
  /* max-width: 640px; */
  /* margin: 0 auto; */
  padding: 16px;
}

#post > p {
  text-indent: 1.0em;
  margin: 0;
}

#post > p:first-of-type {
  text-indent: 0;
}

#post > p:nth-of-type(1):first-letter{
  float: left;
  text-indent: 0;
  font-size: 3.9em;
  line-height: 70%;
  padding-top: 0.05em;
  padding-right: 0.05em;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
}

#post > p:first-of-type:first-line {
  font-style: italic;
}

#post h1, #post h2, #post h3 {
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

#post h1 {
  font-size: 2.0em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 54px auto 24px auto;
  padding-bottom: 10px;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

#post h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 40px auto 12px auto;
}

#post h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 30px auto 2px auto;
}

#categories, #tags {
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* color: #486591; /1* dark blue *1/ */
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
}

#categories {
  border-top: 1px dotted #3d3d3d;
  margin-top: 54px;
}

#tags {
  /* border-bottom: 1px dashed black; */
}

#series {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0 0 0;
  padding: 0 4px;
  font-size: 1.0em;
  font-weight: lighter;
  font-style: italic;
}

#next, #previous {
  display: flex;
  flex-grow: 1;
}

#previous {
  justify-content: flex-start;
}

#next {
  justify-content: flex-end;
}

h1.year {
  color: #aeaeae;
  padding-left: 16px;
  margin: 64px auto 8px auto;
}

h2.month {
  color: #7a7a7a;
  padding-left: 32px;
  margin: 16px auto 4px auto;
}

ul.day {
  margin: 16px auto 4px 48px;
}

#content table {
  width: 100%;
  margin: 32px auto 24px auto;
}

/* footer */

#footerContainer {
  /* background-color: #dadada; */
  display: flex;
  justify-content: center;
  border-top: 1px solid #3d3d3d;
}

footer {
  width: 640px;
}

footer > nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  flex-grow: 1;
  justify-content: space-around;
  margin: 16px 0;
  padding: 0;
  font-size: 1.0em;
  font-weight: lighter;
}

