.colors {
  color: #020111;
  color: #2a2860;
  color: #1164a6;
  color: #78b3ca;
  color: #e8f1f5;
}

body, html {
  min-height: 100vh;
  background-color: #2a2860;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #020111;
  font-size: 18px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 1.6em;
  border-top: 8px solid #2a2860;
  border-bottom: 8px solid #2a2860;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjZBN0M1Rjk3Q0E4MTFFNjhCNDNFRDA4OTM5OUIzNzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjZBN0M1RkE3Q0E4MTFFNjhCNDNFRDA4OTM5OUIzNzciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2NkE3QzVGNzdDQTgxMUU2OEI0M0VEMDg5Mzk5QjM3NyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2NkE3QzVGODdDQTgxMUU2OEI0M0VEMDg5Mzk5QjM3NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PhxKr8oAAAAPSURBVHjaYvj//z9AgAEABf4C/i3Oie4AAAAASUVORK5CYII=');
}

a {
  color: #1164a6;
  text-decoration: none;
}

a:hover {
  color: #78b3ca;
}

/* header */

#headerContainer {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #2a2860;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 640px;
  margin-top: -8px;
  /* height: 86px; */
  /* padding-bottom: 10px; */
}

header > .logo {
  /* width: 192px; */
  /* height: 64px; */
  /* width: 100px; */
  /* height: 100px; */
  /* margin: 0 0 -10px 0; */
  /* padding: 0; */
  /* background: #486591; */
  /* background: red; */
}

header > nav {
  display: flex;
  flex-grow: 3;
  margin-left: auto;
  max-width: 300px;
}

header > nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  flex-grow: 1;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

header > nav > ul > li {
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

header > nav > ul > li > a {
  display: block;
  color: #2c86bb;
  width: 100%;
  text-align: center;
  border-top: 8px solid #2a2860;
  line-height: 2em;
}

header > nav > ul > li > .active {
  color: #78b3ca;
  line-height: 2em;
  border-top: 8px solid #78b3ca;
}

/* content */

#contentContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

#content {
  width: 640px;
  padding: 0;
}

.subtitle {
  margin: 0;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
  color: #2a2860;
  border-bottom: 1px dotted #2a2860;
}

#post {
  padding: 16px;
}

#post img {
  display: flex;
  margin: 16px auto;
  align-self: center;
  width: 100%;
  height: auto;
}

#post > p {
  text-indent: 1.0em;
  margin: 0;
}

#post > p:first-of-type {
  text-indent: 0;
}

#post > p:nth-of-type(1):first-letter{
  float: left;
  text-indent: 0;
  font-size: 3.9em;
  line-height: 70%;
  padding-top: 0.05em;
  padding-right: 0.05em;
  font-weight: 800;
  text-transform: uppercase;
  font-style: normal;
  color: #2a2860;
}

#post > p:first-of-type:first-line {
  font-style: italic;
  color: #2a2860;
}

#post h1, #post h2, #post h3 {
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #2a2860;
}

#post h1 {
  font-size: 2.0em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 54px auto 24px auto;
  padding-bottom: 10px;
  letter-spacing: 0.1em;
  line-height: 1.3em;
}

#post h2 {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.3em;
  margin: 48px auto 12px auto;
}

#post h3 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3em;
  margin: 36px auto 2px auto;
}

#post p code {
  padding: 0.2em;
  background: #e8f1f5;
  font-size: 0.9em;
  line-height: 1.3em;
}

#post pre .highlight {
  padding: 0.3em 1.4em;
  background: #e8f1f5;
  font-size: 0.9em;
  line-height: 1.3em;
  border-left: 2px solid #1164a6;
}

#post ul {
  list-style-type: square;
}

#post blockquote {
  padding: 0.3em 1.4em;
  background: #e8f1f5;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.4em;
  border-left: 2px solid #1164a6;
  margin: 24px 0;
}

#post blockquote p {
  text-indent: 1.0em;
}

#categories, #tags {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
}

#categories {
  border-top: 1px dotted #2a2860;
  margin-top: 54px;
}

#tags {
}

#series {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0 0 0;
  padding: 0 4px;
  font-size: 1.0em;
  font-weight: lighter;
  font-style: italic;
}

#next, #previous {
  display: flex;
  flex-grow: 1;
  margin-bottom: 16px;
}

#previous {
  justify-content: flex-start;
}

#next {
  justify-content: flex-end;
}

h1.year {
  color: #aeaeae;
  padding-left: 16px;
  margin: 64px auto 8px auto;
}

h2.month {
  color: #7a7a7a;
  padding-left: 32px;
  margin: 16px auto 4px auto;
}

ul.day {
  margin: 16px auto 4px 48px;
}

#content table {
  width: 100%;
  margin: 64px auto 24px auto;
  border-collapse: collapse;
}

#content th {
  background-color: #1164a6;
  color: white;
  text-align: left;
  padding: 4px;
}

#content td, #content th {
  padding: 4px;
}

#content tr:nth-child(even) {
  background-color: #e8f1f5;
}
#content tr:nth-child(odd) {
  background-color: #ffffff;
}

#blogList {
  padding: 16px;
  list-style: none;
}

.blogTitle {
  font-weight: bold;
  font-style: normal;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px auto 4px auto;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  text-align: left;
}

.blogTitle a {
  color: #2a2860;
}

.blogExcerpt p:first-of-type {
  /* text-indent: 1em; */
}

.blogMetadata {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
  text-align: left;
  margin-left: 1.4em;
}

.blogMore {
  text-align: right;
}

/* footer */

#footerContainer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #2a2860;
}

footer {
  width: 640px;
}

footer > nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: right;
  list-style: none;
  justify-content: center;
  margin: 8px 0 16px 0;
  padding: 8px 32px 0 32px;
  font-size: 0.8em;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

footer > nav > ul > li {
  height: 20px;
  width: 20px;
  margin: 0 16px;
}

footer .github {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  opacity: 0.9;
  background-image:url("../assets/style/github.svg");
}

footer .twitter {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  opacity: 0.9;
  background-image:url("../assets/style/twitter.svg");
}

footer .irc {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  opacity: 0.9;
  background-image:url("../assets/style/hashtag.svg");
}

footer .rss {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  opacity: 0.9;
  background-image:url("../assets/style/rss.svg");
}

footer a:hover {
  opacity: 0.5;
}

@media (max-width: 600px) {

  #content table {
    font-size: 0.8em;
  }

}
